body {
    background-color: black;
}

div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}  

.canvas {
    background-color: #3B084C;
    border-radius: 10px;
    width: 450px;
    height: 450px;
    margin: auto;
    border: 3px solid #fdb361;
}

.new_game {
    background-color: #3B084C;
    border-radius: 10px;
    width: 130px;
    height: 25px;
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin: auto;
    padding-top: 4px;
    border: 3px solid #fdb361;
}

.new_game:hover {
    background-color: #fdb361;
    border: 5px solid #fdb361;
}

.score {
    background-color: #3B084C;
    border-radius: 10px;
    width: 200px;
    height: 25px;
    padding-left: 10px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin: auto;
    padding-top: 4px;
    border: 3px solid #fdb361;
    text-align: center;
}

h1 {
    color: #fdb361;
    text-align: center;
    font-weight: bold;
}

table {
    width: 95%;
    padding-top: 8px;
    margin: auto;
}

td {
    width: 100px;
    height: 100px; 
    background-color: #FEE6CA;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    color: #FEE6CA;
    font-weight: bold;
}

td:hover {
    border: 2px solid #fdb361;
}